// Google Font | Montserrat 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$text-light: #fff;
$text-dark: #000;
$text-grey: #999;
$bg-light: #f2f2f2;
$bg-white: #fff;
$bg-dark: #000;
$orange: #f50;
$font: 'Montserrat', sans-serif;